// Microsoft Visual C++ generated resource script.
//
#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

1010 RCDATA ".\\texture.bmp"
