// Microsoft Visual C++ generated resource script.
//
#include "windows.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

IDD_DOLPHIN_BMP         RCDATA                  "..\\resources\\Dolphin.bmp"
IDD_SEAFLOOR_BMP        RCDATA                  "..\\resources\\seafloor.bmp"

IDD_DOLPHIN_VS          RCDATA                  "..\\resources\\DolphinTween.xvu"
IDD_SEAFLOOR_VS         RCDATA                  "..\\resources\\SeaFloor.xvu"
IDD_SHADE_PS            RCDATA                  "..\\resources\\ShadeCausticsPixel.xpu"

IDD_DOLPHIN_MESH1       RCDATA                  "..\\resources\\Dolphin1.sdkmesh"
IDD_DOLPHIN_MESH2       RCDATA                  "..\\resources\\Dolphin2.sdkmesh"
IDD_DOLPHIN_MESH3       RCDATA                  "..\\resources\\Dolphin3.sdkmesh"
IDD_SEAFLOOR_MESH       RCDATA                  "..\\resources\\seafloor.sdkmesh"

IDD_CAUST00_TGA         RCDATA                  "..\\resources\\caust00.tga"
IDD_CAUST01_TGA         RCDATA                  "..\\resources\\caust01.tga"
IDD_CAUST02_TGA         RCDATA                  "..\\resources\\caust02.tga"
IDD_CAUST03_TGA         RCDATA                  "..\\resources\\caust03.tga"
IDD_CAUST04_TGA         RCDATA                  "..\\resources\\caust04.tga"
IDD_CAUST05_TGA         RCDATA                  "..\\resources\\caust05.tga"
IDD_CAUST06_TGA         RCDATA                  "..\\resources\\caust06.tga"
IDD_CAUST07_TGA         RCDATA                  "..\\resources\\caust07.tga"
IDD_CAUST08_TGA         RCDATA                  "..\\resources\\caust08.tga"
IDD_CAUST09_TGA         RCDATA                  "..\\resources\\caust09.tga"
IDD_CAUST10_TGA         RCDATA                  "..\\resources\\caust10.tga"
IDD_CAUST11_TGA         RCDATA                  "..\\resources\\caust11.tga"
IDD_CAUST12_TGA         RCDATA                  "..\\resources\\caust12.tga"
IDD_CAUST13_TGA         RCDATA                  "..\\resources\\caust13.tga"
IDD_CAUST14_TGA         RCDATA                  "..\\resources\\caust14.tga"
IDD_CAUST15_TGA         RCDATA                  "..\\resources\\caust15.tga"
IDD_CAUST16_TGA         RCDATA                  "..\\resources\\caust16.tga"
IDD_CAUST17_TGA         RCDATA                  "..\\resources\\caust17.tga"
IDD_CAUST18_TGA         RCDATA                  "..\\resources\\caust18.tga"
IDD_CAUST19_TGA         RCDATA                  "..\\resources\\caust19.tga"
IDD_CAUST20_TGA         RCDATA                  "..\\resources\\caust20.tga"
IDD_CAUST21_TGA         RCDATA                  "..\\resources\\caust21.tga"
IDD_CAUST22_TGA         RCDATA                  "..\\resources\\caust22.tga"
IDD_CAUST23_TGA         RCDATA                  "..\\resources\\caust23.tga"
IDD_CAUST24_TGA         RCDATA                  "..\\resources\\caust24.tga"
IDD_CAUST25_TGA         RCDATA                  "..\\resources\\caust25.tga"
IDD_CAUST26_TGA         RCDATA                  "..\\resources\\caust26.tga"
IDD_CAUST27_TGA         RCDATA                  "..\\resources\\caust27.tga"
IDD_CAUST28_TGA         RCDATA                  "..\\resources\\caust28.tga"
IDD_CAUST29_TGA         RCDATA                  "..\\resources\\caust29.tga"
IDD_CAUST30_TGA         RCDATA                  "..\\resources\\caust30.tga"
IDD_CAUST31_TGA         RCDATA                  "..\\resources\\caust31.tga"

